<section class="min-h-screen flex items-center justify-center p-4">
  <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-md space-y-6">
    <div class="text-center">
      <div class="mx-auto mb-4 w-12 h-12 bg-blue-200 rounded-full flex items-center justify-center">
        <em class="pi pi-check-square font-semibold"></em>
      </div>
      <p class="text-2xl font-bold">Atom - TODO</p>
      <p>Ingresa tu correo electrónico para acceder a tus tareas</p>
    </div>
    <div class="space-y-4">
      <div class="space-y-2">
        <div class="relative">
          <input class="w-full bg-white border-2 h-12 p-4 rounded border-gray-100" type="email" placeholder="email@todo.com" />
        </div>
      </div>
      <button class="w-full bg-gray-400 text-white py-2 rounded hover:bg-gray-500 transition-colors cursor-pointer">
        Iniciar sesión
      </button>
    </div>
  </div>
</section>
