<app-header></app-header>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <app-card>
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-semibold">Nueva Tarea</h2>
        <!-- <button class="bg-black text-white px-4 py-2 rounded-lg">Agregar tarea</button> -->
      </div>
      <form [formGroup]="createTaskForm" (ngSubmit)="onSubmitTask()">
        <div class="mt-4 flex flex-col gap-2">
          <label for="taskName" class="block text-md font-medium text-gray-700">Nombre de la tarea</label>
          <input type="text" id="taskName" name="taskName"
            class="w-full bg-white border-2 h-12 p-4 rounded border-gray-100"
            placeholder="Ingrese el nombre de la tarea" formControlName="title" required>
        </div>
        <div class="mt-4 flex flex-col gap-2">
          <label for="taskDescription" class="block text-md font-medium text-gray-700">Descripción</label>
          <textarea id="taskDescription" name="taskDescription" rows="3"
            class="w-full bg-white border-2 p-4 rounded border-gray-100"
            placeholder="Ingrese la descripción de la tarea" formControlName="description"></textarea>
        </div>

        <div>
          <button type="submit"
            class="mt-4 bg-black text-white px-4 py-2 rounded-lg hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 cursor-pointer">
            Guardar tarea
          </button>
        </div>
      </form>
    </app-card>
    <app-card class="lg:col-span-2">
      <div class="flex justify-between items-center">
        <h2 class="text-xl font-semibold">Mis tareas</h2>
      </div>
      <div class="flex flex-col gap-4 mt-4">
        <div class="flex flex-col">
          <div class="flex items-center gap-2 mb-2">
            <em class="pi pi-circle-on text-gray-200"></em>
            <h2 class="text-xl">Por Hacer</h2>
          </div>
          @for (task of todoTasks; track task.id) {
          <app-task-card [task]="task" (statusChanged)="onTaskStatusChanged($event)"></app-task-card>
          }
        </div>

        <div class="flex flex-col">
          <div class="flex items-center gap-2 mb-2">
            <em class="pi pi-circle-on text-blue-200"></em>
            <h2 class="text-xl">En Progreso</h2>
          </div>
          @for (task of inProgressTasks; track task.id) {
          <app-task-card [task]="task" (statusChanged)="onTaskStatusChanged($event)"></app-task-card>
          }
        </div>

        <div class="flex flex-col">
          <div class="flex items-center gap-2 mb-2">
            <em class="pi pi-circle-on text-green-200"></em>
            <h2 class="text-xl">Terminadas</h2>
          </div>
          @for (task of doneTasks; track task.id) {
          <app-task-card [task]="task" (statusChanged)="onTaskStatusChanged($event)"></app-task-card>
          }
        </div>

      </div>
    </app-card>
  </div>
</div>
